<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.feigdev.redditmailpro"
    android:versionCode="9"
    android:versionName="1.9" >

    <uses-sdk android:minSdkVersion="7"  android:targetSdkVersion="14"  />

    <uses-permission android:name="android.permission.INTERNET"/>
    
    <application
        android:icon="@drawable/orange_envelope"
        android:label="@string/app_name" 
        android:theme="@style/AppTheme">
        
        <activity 
            android:name="com.feigdev.redditmailpro.RedditMailProActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="com.feigdev.redditmailcommon.RedditMailService" />
            </intent-filter>
        </activity>
        <activity 
            android:name="com.feigdev.redditmailfree.RedditMailFreeActivity" >
            <intent-filter >
                <category android:name="com.feigdev.redditmailpro.RedditMailProActivity" />
                <category android:name="com.feigdev.redditmailcommon.RedditMailService" />
            </intent-filter>
        </activity>
        <service  android:name="com.feigdev.redditmailcommon.RedditMailService"  
            android:enabled="true" >
			<intent-filter>
				<action android:name="com.feigdev.redditmailcommon.RedditMailService" />
				<category android:name="com.feigdev.redditmailpro.RedditMailProActivity" />
			</intent-filter>
	    </service>
          
    </application>

    
</manifest>